/* screen - frame-ptbr */

.frame-ptbr {
  background-color: #cecece;
  height: 5268px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.frame-ptbr .rectangle-14-VJPBP8 {
  background-color: var(--black);
  height: 436px;
  left: -761px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6379px;
  width: 344px;
}

.frame-ptbr .rectangle-27-VJPBP8 {
  background-color: transparent;
  height: 246px;
  left: 272px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4257px;
  width: 300px;
}

.frame-ptbr .rectangle-26-VJPBP8 {
  background-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  height: 821px;
  left: 64px;
  position: absolute;
  top: 3681px;
  width: 717px;
}

.frame-ptbr .rectangle-23-VJPBP8 {
  background-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  height: 1043px;
  left: 766px;
  position: absolute;
  top: 2352px;
  width: 674px;
}

.frame-ptbr .videos-and-images-VJPBP8 {
  background-color: transparent;
  height: 2245px;
  left: 64px;
  position: absolute;
  top: 13px;
  width: 1404px;
}

.frame-ptbr .rectangle-18-Cxkx0s {
  background-color: transparent;
  height: 1080px;
  left: 156px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 13px;
  width: 1080px;
}

.frame-ptbr .rectangle-2-Cxkx0s {
  background-color: transparent;
  display: block;
  height: 387px;
  left: -4px;
  mix-blend-mode: normal;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 1350px;
  transform: translate(25px, 0);
  width: 682px;
}

.frame-ptbr .rectangle-2-Cxkx0s.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.frame-ptbr .rectangle-25-Cxkx0s {
  background-color: transparent;
  display: block;
  height: 387px;
  left: 726px;
  mix-blend-mode: normal;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 1350px;
  transform: translate(25px, 0);
  width: 682px;
}

.frame-ptbr .rectangle-25-Cxkx0s.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.frame-ptbr .rectangle-21-Cxkx0s {
  background-color: transparent;
  height: 477px;
  left: -4px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1776px;
  width: 1412px;
}

.frame-ptbr .all-text-VJPBP8 {
  background-color: transparent;
  height: 4254px;
  left: 64px;
  position: absolute;
  top: 463px;
  width: 1397px;
}

.frame-ptbr .portfolio-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 509px;
  letter-spacing: -3.33px;
  line-height: 81.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 742px;
  white-space: nowrap;
  width: 374px;
}

.frame-ptbr .sobre-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3047px;
  width: auto;
}

.frame-ptbr .contato-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 540px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4173px;
  width: auto;
}

.frame-ptbr .dlrrr-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 857px;
}

.frame-ptbr .a-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 857px;
}

.frame-ptbr .x3-d-artist-uiux-designer-JlXd0V {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-allerta);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 267px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 857px;
}

.frame-ptbr .tudo-o-que-voc-v-aqu-JlXd0V {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 701px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1897px;
  width: 674px;
}

.frame-ptbr .aboutt-JlXd0V {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3247px;
  width: 674px;
}

.frame-ptbr .icones-do-2-d-para-3-d-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 864px;
  width: auto;
}

.frame-ptbr .personagens-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 730px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 864px;
  width: auto;
}

.frame-ptbr .propagandas-e-logos-JlXd0V {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1290px;
  width: auto;
}

.frame-ptbr .lines-VJPBP8 {
  background-color: transparent;
  height: 3425px;
  left: 27px;
  position: absolute;
  top: 1252px;
  width: 1457px;
}

.frame-ptbr .line-1-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 2px;
  position: absolute;
  top: -1px;
  width: 512px;
}

.frame-ptbr .line-2-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 945px;
  position: absolute;
  top: -1px;
  width: 512px;
}

.frame-ptbr .line-3-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 616px;
  position: absolute;
  top: 2298px;
  width: 589px;
}

.frame-ptbr .line-4-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 884px;
  position: absolute;
  top: 2298px;
  width: 573px;
}

.frame-ptbr .line-5-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 582px;
  position: absolute;
  top: 3424px;
  width: 555px;
}

.frame-ptbr .line-6-NLBL2S {
  background-color: transparent;
  height: 3px;
  left: 919px;
  position: absolute;
  top: 3424px;
  width: 538px;
}

.frame-ptbr .rectangle-24-VJPBP8 {
  background-color: transparent;
  border: 10px solid #ebebeb;
  height: 155px;
  left: 437px;
  position: absolute;
  top: 463px;
  width: 642px;
}

.frame-ptbr .vector-4-VJPBP8 {
  background-color: transparent;
  height: 388px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3007px;
  width: 658px;
}

.frame-ptbr .vector-5-VJPBP8 {
  background-color: transparent;
  height: 397px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2675px;
  width: 658px;
}

.frame-ptbr .vector-6-VJPBP8 {
  background-color: transparent;
  height: 388px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2352px;
  width: 658px;
}

.frame-ptbr .aboutt-VJPBP8 {
  background-color: transparent;
  height: auto;
  left: 419px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4782px;
  width: 674px;
}

.frame-ptbr .rectangle-30-VJPBP8 {
  background-color: transparent;
  height: 915px;
  left: 831px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3638px;
  width: 624px;
}

.frame-ptbr .polygons-icons-2-VJPBP8 {
  background-color: transparent;
  height: 311px;
  left: 876px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3080px;
  width: 425px;
}
