/* screen - frame-eng */

.frame-eng {
  align-items: flex-start;
  background-color: var(--celeste);
  display: flex;
  height: 5289px;
  overflow: hidden;
  width: 1512px;
}

.frame-eng .rectangle-14 {
  background-color: var(--black);
  height: 436px;
  margin-left: -761px;
  margin-top: 6378.79px;
  width: 344px;
}

.frame-eng .overlap-group3 {
  height: 5535px;
  margin-left: 440px;
  margin-top: 13px;
  position: relative;
  width: 1457px;
}

.frame-eng .rectangle-26 {
  height: 1080px;
  left: 193px;
  position: absolute;
  top: 0;
  width: 1080px;
}

.frame-eng .rectangle-27 {
  height: 387px;
  left: 33px;
  opacity: 0;
  position: absolute;
  top: 1350px;
  transform: translate(25px, 0);
  width: 682px;
}

.frame-eng .rectangle-27.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.frame-eng .rectangle-28 {
  height: 387px;
  left: 763px;
  opacity: 0;
  position: absolute;
  top: 1350px;
  transform: translate(25px, 0);
  width: 682px;
}

.frame-eng .rectangle-28.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.frame-eng .rectangle-29 {
  height: 477px;
  left: 33px;
  position: absolute;
  top: 1776px;
  width: 1412px;
}

.frame-eng .rectangle-27-1 {
  height: 208px;
  left: 270px;
  position: absolute;
  top: 4263px;
  width: 250px;
}

.frame-eng .rectangle-26-1 {
  border: 4px solid var(--black);
  box-shadow: 0px 4px 4px #00000040;
  height: 821px;
  left: 37px;
  position: absolute;
  top: 3668px;
  width: 717px;
}

.frame-eng .rectangle-7 {
  height: 915px;
  left: 793px;
  position: absolute;
  top: 3625px;
  width: 624px;
}

.frame-eng .rectangle-23 {
  border: 4px solid var(--black);
  box-shadow: 0px 4px 4px #00000040;
  height: 1043px;
  left: 739px;
  position: absolute;
  top: 2339px;
  width: 674px;
}

.frame-eng .all-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 37px;
  min-height: 5085px;
  position: absolute;
  top: 450px;
  width: 1400px;
}

.frame-eng .overlap-group {
  height: 134px;
  margin-left: 22px;
  position: relative;
  width: 1146px;
}

.frame-eng .title {
  left: 289px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 857px;
}

.frame-eng .a {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 857px;
}

.frame-eng .x3-d-artist-uiux-designer {
  align-self: center;
  letter-spacing: 0;
  margin-right: 9.0px;
  margin-top: 38px;
  min-height: 134px;
  text-align: center;
  width: 857px;
}

.frame-eng .flex-row {
  align-items: flex-start;
  display: flex;
  height: 2386px;
  margin-top: 436px;
  min-width: 1376px;
}

.frame-eng .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 122px;
  min-height: 462px;
  width: 276px;
}

.frame-eng .x2-d-to-3-d-icons {
  letter-spacing: 0;
  min-height: 36px;
  min-width: 276px;
  text-align: center;
}

.frame-eng .ads-and-logos {
  letter-spacing: 0;
  margin-top: 390px;
  min-height: 36px;
  min-width: 256px;
  text-align: center;
}

.frame-eng .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 233px;
  min-height: 2386px;
  width: 867px;
}

.frame-eng .portfolio {
  letter-spacing: -3.33px;
  line-height: 81.3px;
  min-height: 1px;
  text-align: center;
  white-space: nowrap;
  width: 374px;
}

.frame-eng .characters {
  align-self: center;
  letter-spacing: 0;
  margin-right: 228.0px;
  margin-top: 121px;
  min-height: 36px;
  min-width: 197px;
  text-align: center;
}

.frame-eng .everything-you-see-h {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 1010px;
  min-height: 672px;
  text-align: center;
  width: 674px;
}

.frame-eng .about {
  letter-spacing: 0;
  margin-left: 77.07px;
  margin-top: 465px;
  min-height: 81px;
}

.frame-eng .aboutt {
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 119px;
  min-height: 765px;
  text-align: center;
  width: 674px;
}

.frame-eng .place {
  align-self: center;
  letter-spacing: 0;
  margin-left: 15.0px;
  margin-top: 161px;
  min-height: 81px;
  min-width: 311px;
}

.frame-eng .aboutt-1 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 8.0px;
  margin-top: 66px;
  min-height: 765px;
  text-align: center;
  width: 674px;
}

.frame-eng .lines {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 3425px;
  position: absolute;
  top: 1239px;
  width: 1457px;
}

.frame-eng .line-container {
  align-items: flex-start;
  display: flex;
  margin-top: -1px;
  min-width: 1455px;
}

.frame-eng .line-1 {
  height: 3px;
  width: 512px;
}

.frame-eng .line-2 {
  height: 3px;
  margin-left: 431px;
  width: 512px;
}

.frame-eng .line-container-1 {
  height: 3px;
  margin-top: 2296px;
  position: relative;
  width: 845px;
}

.frame-eng .line-3 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 589px;
}

.frame-eng .line-4 {
  height: 3px;
  left: 272px;
  position: absolute;
  top: 0;
  width: 573px;
}

.frame-eng .line-container-2 {
  height: 3px;
  margin-top: 1123px;
  position: relative;
  width: 879px;
}

.frame-eng .line-5 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 555px;
}

.frame-eng .line-6 {
  height: 3px;
  left: 341px;
  position: absolute;
  top: 0;
  width: 538px;
}

.frame-eng .rectangle-24 {
  height: 155px;
  left: 410px;
  position: absolute;
  top: 450px;
  width: 642px;
}

.frame-eng .teletele {
  height: 115px;
  left: 470px;
  object-fit: cover;
  position: absolute;
  top: 5108px;
  width: 115px;
}

.frame-eng .gmail-logo {
  height: 117px;
  left: 330px;
  object-fit: cover;
  position: absolute;
  top: 5106px;
  width: 117px;
}

.frame-eng .discordd {
  height: 133px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 5095px;
  width: 132px;
}

.frame-eng .twitterr {
  height: 107px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 5108px;
  width: 133px;
}

.frame-eng .whats-icon {
  height: 89px;
  left: 1033px;
  object-fit: cover;
  position: absolute;
  top: 5117px;
  width: 88px;
}

.frame-eng .linkedin-2 {
  height: 92px;
  left: 917px;
  object-fit: cover;
  position: absolute;
  top: 5117px;
  width: 93px;
}

.frame-eng .vector-1 {
  height: 388px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 2994px;
  width: 658px;
}

.frame-eng .vector-2 {
  height: 397px;
  left: 45px;
  position: absolute;
  top: 2662px;
  width: 658px;
}

.frame-eng .vector-3 {
  height: 388px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 2339px;
  width: 658px;
}

.frame-eng .polygons-icons-1 {
  height: 311px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 3052px;
  width: 425px;
}
