.content {
    width: 80%;
    margin: 0 auto;
}

.header-contatos {
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 20px;
}


.fixador {
    max-width: 50%;
}

.Spadding {
    padding-bottom: 0px;
}

.container-imagem {
    width: 20%;
    height: auto;
}

.header-imagem-nome {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-imagem-nome img {
   width: 100%;
   height: 100%;
}

.header-imagem-nome h1 {
    width: 25%;
    font-size: 25px;
    font-weight: 700;
}

.header-navegacao ul, .header-contatos ul {
    list-style: none;
}

.header-contatos ul {
    width: 13%;
}

.header-navegacao ul li {
    width: 100%;
}

.header-navegacao a {
    display: block;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    transition: 0.3s all ease;
    padding: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s 
ease-in-out, background-color .15s 
ease-in-out, border-color .15s 
ease-in-out;
}



.header-navegacao a:hover {
    transform: translateY(5px);
}

.navegacao-item.active {
    transform: translateY(10px);
}

.portfolio-content {
    height: 54vh;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
}

.portfolio-content2 {
    border: 2px
    solid black;
    background: #424242;
    border-radius: 8px;
}

.portfolio-content3 {
    border: 1px
    solid gray;
    background: gray;
    border-radius: 8px;
}

.descricao {
    text-align: justify;
}

.formacao-coluna {
    width: 80%;
    margin: 2;
}

.formacao {
    width: 50%;
}