:root { 
  --black: #000000;
  --cararra: #ebebeb;
  --celeste: #cecece;
  --white: #ffffff;
 
  --font-size-l2: 40px;
  --font-size-m2: 38px;
  --font-size-s: 36px;
  --font-size-xl2: 81.3px;
  --font-size-xxl2: 128px;
 
  --font-family-alice: "Alice", Helvetica;
  --font-family-allerta: "Allerta", Helvetica;
  --font-family-anonymous_pro: "Anonymous Pro", Helvetica;
  --font-family-lexend: "Lexend", Helvetica;
}
.anonymouspro-normal-black-81-3px {
  color: var(--black);
  font-family: var(--font-family-anonymous_pro);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}

.anonymouspro-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-anonymous_pro);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.alice-normal-white-128px {
  color: var(--white);
  font-family: var(--font-family-alice);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 400;
}

.lexend-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.allerta-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-allerta);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.lexend-normal-black-38px {
  color: var(--black);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.border-4px-black {
  border: 4px solid var(--black);
}

.border-10px-cararra {
  border: 10px solid var(--cararra);
}
